.button {
  border: none;
  font-size: 1.7rem;
  font-family: 'Poppins';
  font-weight: 600;
  cursor: pointer;
  padding: 5px 15px;
  border-radius: 15px;
  position: relative;
  user-select: none;
  box-shadow: 0 4px 15px #0000001a;
  transition:
    background-color 0.4s,
    box-shadow 0.4s;

  &:active {
    box-shadow: none;
  }
}

.button.green {
  background-color: #d9ef81;

  &:hover {
    background-color: #b5d43c;
  }
}
