@import '../../../../../constants/global.scss';

.categories {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;

  .categories_title {
    width: 100%;
    font-size: 2rem;
    text-align: center;
  }

  .categories_list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1px;

    .category_link {
      text-decoration: none;
    }

    .category {
      width: 100%;
      padding: 7px;
      font-size: 1.8rem;
      border-radius: 5px;

      &.active {
        background-color: $thirdColor;
        color: $universalColor;
      }
    }
  }
}
