@font-face {
  font-family: 'Poppins';
  src: url('../src/assets/fonts/Poppins-font/Poppins-Light.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('../src/assets/fonts/Poppins-font/Poppins-Italic.ttf');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Poppins';
  src: url('../src/assets/fonts/Poppins-font/Poppins-Bold.ttf');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('../src/assets/fonts/Poppins-font/Poppins-BoldItalic.ttf');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Poppins';
  src: url('../src/assets/fonts/Poppins-font/Poppins-Light.ttf');
  font-weight: lighter;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('../src/assets/fonts/Poppins-font/Poppins-LightItalic.ttf');
  font-weight: lighter;
  font-style: italic;
}
