//Color
$primaryColor: #d9ef81;
$secondaryColor: #b5d43c;
$thirdColor: #9a9a9a;
$universalColor: #000000;
$disabledColor: #e6e6e6;

$primaryBackgroundColor: #f2f2f2;
$secondaryBackgroundColor: #ffffff;

$errorColor: #e50404ed;

//Box shadow
$box-shadow-smallGreen: 0 0 0 1px #d9ef81b8;
$box-shadow-smallGrey: 0 4px 15px #0000001a;
$box-shadow-mediumGrey: 0px 0.5px 5px 0px #00000089;

//Transition duration
$shortDuration: 0.4s;
$mediumDuration: 0.7s;
