.modal {
  .modal_header {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;

    .closeModal_icon {
      width: 2rem;
      height: 2rem;
    }
  }

  .carousel {
    width: 100%;
    padding-bottom: 4rem;

    .carousel_item {
      cursor: pointer;
    }

    .slide_img {
      width: 100%;
    }
  }
}