.catalog {
  padding: 25px;
}
.search {
  display: flex;
  justify-content: center;
  gap: 15px;
  .input {
    width: 100%;
    max-width: 50%;
    border: none;
    padding: 12px;
    border-radius: 15px;
  }
  .filterBtn {
    background-color: #fff;
  }
}
.productList {
  max-width: 1440px;
  margin: 0 auto;
  margin-top: 30px;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(3, 1fr);
  gap: 3vw;
  // row-gap: 50px;
}

@media (max-width: 1000px) {
  .productList {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .productList {
    grid-template-columns: repeat(1, minmax(auto, 370px));
  }
}
