@import './constants/fonts.scss';
@import './constants//global.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins';
  font-size: 10px;
}

*::-webkit-scrollbar {
  width: 1.6rem;
}

*::-webkit-scrollbar-track {
  background: $secondaryBackgroundColor;
  border-radius: 5px;
}

*::-webkit-scrollbar-thumb {
  background-color: $primaryColor;
  border-radius: 15px;
  border: 3px solid $secondaryBackgroundColor;
}

*::-webkit-scrollbar-thumb:active {
  background-color: $secondaryColor;
}

*::-webkit-scrollbar-button {
  background-color: $primaryColor;
  border-radius: 0 0 3px 3px;
}

@media (max-width: 768px) {
  html {
    font-size: 8px;
  }
}

@media (max-width: 390px) {
  html {
    font-size: 6px;
  }
}
